* {
    margin: 0;
    padding: 0;
  }
  header, nav, main, aside, section, article, footer, div {
    display:block;
  }
  body {
    background-color:#ffffffff;

  }
  #wrapper {
    margin: 0px 32px;
  }
  header {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  a {
    text-decoration: none;
  }
  #logo article{
    margin: 0px 32px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 64px;
    width: 64px;
  }
  #logo span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3E3F43;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6px;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 120px;
  }
  nav a {
    color: #612999;
    font-family: Nunito;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 64px;
  }
  nav a:hover {
    color: #c07ece;
  }
  nav a.active {
    font-weight: bold;
  }
  main{
    margin-top: 39px;
  }
  #cover-photo-section {
    background-image: url("../images/bentoCaver.jpg");
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 797px;
  }
  #cover-photo-section h1 {
    margin: 0px 32px;
    width: 448px;
    color: #612999;
    font-family: Nunito;
    font-size: 96px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  #cover-photo-section p {
    width: 448px;
    margin: 0px 32px;
    color: #000;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  #about{
    margin-top: 32px;
  }
  #about h2{
    color: #612999;
    font-family: Rubik;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 32px;
  }
  #about p{
    color: #000;
    text-align: justify;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.625%;
    margin-bottom: 24px;
  }
  #cards-title{
    margin-top: 32px;
  }
  #cards-title h2{
    color: #612999;
    font-family: Rubik;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
  }